<footer class="page-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-12">
                <h6 class="text-uppercase font-weight-bold">WE ARE A FAMILY</h6>
                <p>BEING A LEADER IS NOT AN EASY TASK.IT HAS NEVER BEEN A DAY JOB</p>
                <p>THERE ARE BIG RESPONSIBILITIES THAT COME WITH IT.IF YOU WANT TO BECOME A LEADER IN THE FUTURE YOU HAVE TO START PREPARING FROM NOW</p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <h6 class="text-uppercase font-weight-bold">CONTACT US</h6>
                <p>Chitecma University Buea,DBA kba,Limbe,Bda
                <br/>whatsapp
                <br/>+ 237 675170855
                <br/>+ 237 672035247</p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <h6 class="text-uppercase font-weight-bold">OUR SERVICES</h6>
                <p>Mentorship
                <br/>Web development
                </p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <h6 class="text-uppercase font-weight-bold" >FOLLOW</h6>
                <p>Twitter
                <br/>Facebook
                <br>blog
            </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center">© 2021 Copyright: asend.com</div>
</footer>