<div class="x">
<nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="#">
      <span style="color:#222; font-size: 30px;font-style: italic;">ASE</span> <span style="color:orange;  font-size: 30px;">ND</span> 
      </a>
  
    <button class="navbar-toggler " type="button" 
            (click)="toggleNavbar()" >
      <span class="navbar-toggler-icon" >|||</span>
    </button>
  
    <div class="collapse navbar-collapse"
         [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link active" href="">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://asend4.blogspot.com/" >Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/allPosts">Posts</a>
        </li>
       
           
                        <li *ngIf="auth.user$ | async as user;" class="nav-item">
                <img class="img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}" style="width: 60%;"
                alt="{{user.displayName}}">              </li>
      </ul>
    </div>
  </nav> 
  <div class="mission">
    <div class="row">
    <div class="col-sm-12">
    <div class="card">
    <h3 style="color: black;font-size: 20px;margin-top: 6%;">ASEND</h3>
    <p>WE ARE A FAMILY</p>
    <img src="../../assets/ASENDFG.PNG">
    <p>ASSOCIATION OF ENGINEERING AND MEDICAL STUDENTS</p>

    </div>
    </div>
   
    </div>
    </div>

  <div class="mission" >
<div class="row">
<div class="col-sm-12">
<div class="card">
<h3 style="color: black;font-size: 20px; margin-top: 6%;">OUR MISSION</h3>
<p>WE  aim at  bridging that gap between High school and university for students.Our motto remains ONE STUDENT=ONE PROFESSIONAL SCHOOL.</p>
<p>Seeing the High school child get into that dream career of theirs is our joy.
We are set to do more and impact the lives of the youths in Cameroon and Africa as a whole. </p>
<img src="../../assets/ASENDFG.PNG">
<p style="margin-bottom: 12px;">ONE STUDENT=ONE PROFESSIONAL SCHOOL</p>

</div>
</div>

</div>
</div>

<div class="vision">
        <div class="row">
        <div class="col-sm-12">
        <div class="card">
        <h3 style="color: black;font-size: 20px;margin-top: 6%;">OUR VISION</h3>
        <p>ASEND has several visions regarding the education sector in Cameroon.</p>
        <p>Following the emergence by 2035,we aim at digitalizing the education sector in our very best at the convenience of the students.
        
        </p>
        <img src="../../assets/ASENDFG.PNG">
        <p>TOGETHER WE CAN DO MUCH</p>

      </div>
        </div>
       
        </div>
        </div>

        <div class="vision">
          <div class="row">
          <div class="col-sm-12">
          <div class="card" >
          <h3 style="color: black;font-size: 20px;margin-top: 6%;">OUR VALUES</h3>
          <p>WE  believe so much in PRAYER,HARDWORK AND DISCIPLINE(PhD).</p>
            <img src="../../assets/ASENDFG.PNG">

          PhD=PRAYER,HARDWORK and DISCIPLINE
        </div>
          </div>
         
        </div>
          </div>
  
<div class="team">
    <div class="founders">

        <div class=" features">
          <h3 style="color: black;font-size: 20px;margin-left: 30px;">OUR TEAM</h3>
          <br>

          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">	
      
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                      <img src="../assets/David.PNG" alt="Avatar"  style="width:100%">
                      </div>
                      <div class="flip-card-back">
                      <h1>TELECOM ENGINEER AT CAMTEL</h1>                      
                      </div>
                    </div>
                    </div>
                    <br><br>
                    <h5 class="feature-title">FOUNDER</h5>
                    <h6 class="feature-title">Engr.DAVID BAAR</h6>
              </div><br><br>
                <div class="col-lg-4 col-md-4 col-sm-4">	
                   
                    <div class="flip-card">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                          <img src="../../assets/cabrel.PNG"  alt="Avatar" style="width:100%">
                          
                          </div>
                          <div class="flip-card-back">
                          <h1>FINAL YEAR MEDICAL STUDENT AT FHS BUEA</h1>
                          </div>
                        </div>
                        </div>
                        <br><br>
                        <h5 class="feature-title">CO-FOUNDER</h5>
                          <h6 class="feature-title">DR.CABREL NGANGSOP</h6>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4">	
                   
                    <div class="flip-card">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                          <img src="../../assets/ousman.PNG"  alt="Avatar" style="width:100%">
                          
                          </div>
                          <div class="flip-card-back"><br><br>
                          <h1>FOURTH YEAR MEDICAL STUDENT</h1>
                          </div>
                        </div>
                        </div>
                        <br><br>                     <br><br>

                        <h5 class="feature-title">REGIONAL CORDINATOR</h5>
                          <h6 class="feature-title">MR.OUSMAN ALAIN</h6>
                  </div>
         
          </div>
        </div> 
      </div>

</div>
<div class="footer">
    <app-footer></app-footer>
</div>
</div>
