.nav-link,
.navbar-brand {
	color: #fff;
	cursor: pointer;
	font-size: s;
	font-weight: 100px;
}

.btn1{
background-color:#222;
color: white;
}
.navbar{

	background-color: #222;
}
.navbar-nav {
	margin-left: 20px;

}

.nav-link:hover {
	color: #000;
}

.navbar-collapse {
	justify-content: flex-end;
}
.footer{
margin-top:500px;
}