 <div class="x" id="top">
  <nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="#">
      <span style="color:#222; font-size: 40px;font-style: italic;">ASE</span> <span style="color:orange;  font-size: 30px;">ND</span> 
      </a>
  
    <button class="navbar-toggler " type="button" 
            (click)="toggleNavbar()" >
      <span class="navbar-toggler-icon" >|||</span>
    </button>
  
    <a href="#" class="float">
      <i class="fa fa-arrow-up" aria-hidden="true" style="font-size: large;margin-left: 5px; margin-top: 20px;"></i>    </a>
    <div class="collapse navbar-collapse"
         [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link active" href="">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" (click)="logout()">Logout</a>
        </li>
        <li  *ngIf="auth.user$ | async as user;" class="nav-item">
          <a class="nav-link" routerLink="/admin">Dashboard</a>
        </li>
        <ng-template #anonymousUser>

          <li  class="nav-item">
            <a class="nav-link"  routerLink="/login">Login</a>
          </li>
        </ng-template>
           
                        <li *ngIf="auth.user$ | async as user; else anonymousUser" class="nav-item">
                <img class="img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}" style="width: 60%;"
                alt="{{user.displayName}}">              </li>
      </ul>
    </div>
  </nav> 

<a href="top1" class="float">
  <i class="fa fa-arrow-up" aria-hidden="true" style="font-size: large;margin-left: 5px; margin-top: 20px;"></i>    </a>
  <div class="container">




    <div class="col-md-10 col-sm-12 col-xs-12 center-block">

        
        <br><br><br><br><br>
            <div class="alert alert-danger" *ngIf="error">
                <p>{{ error }}</p>
            </div>
            <div *ngIf="isloading" style="text-align: center;" class="loading-text">
                <app-spinner></app-spinner>
            </div>
        <form *ngIf="!isloading" class="create-form" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)">

            <div class="col-md-4 col-sm-3 col-xs-12">
                <input type="file" multiple (change)="detectFiles($event)" accept="image/x-png,image/gif,image/jpeg" class="form-control" formControlName="imgurl">
                <img id="blah" height="200" width="200" class="img-rounded" [src]="imageSrc || 'http://placehold.it/180'" alt="your image" />

                <div class="col-xs-2 percantage">
                    <h3>{{ uploadPercent | async }}</h3>
                </div>
                <div class="col-xs-3" *ngIf="isimgloading" style="width: 30px; height: 30px;">
                    <img src="/assets/Eclipse-1s-200px.gif" style="width: 60px; height: 60px;">
                </div>
                <div class="col-xs-7" *ngIf="uploadPercent && !isimgloading">
                    <a href="{{downloadURL}}">preview Image</a>
                </div>

            </div>
            <br>
            <div class=" col-md-8 col-sm-9 col-xs-12">


                <div class="form-group">
                    <label for="comment">Title:</label>
                    <div class="input-style">
                        <input placeholder="Title" class="form-control" formControlName="title">
                    </div>
                    <ng-container *ngFor="let validation of validation_messages.title">
                        <div class="help-block has-error" *ngIf="exampleForm.get( 'title').hasError(validation.type) && (exampleForm.get( 'title').dirty || exampleForm.get( 'title').touched)">
                            {{validation.message}}</div>
                    </ng-container>
                </div>


                <div class="form-group">
                    <label for="comment">Description:</label>
                    <textarea class="form-control" rows="5" id="comment" formControlName="desc"></textarea>
                    <ng-container *ngFor="let validation of validation_messages.desc">
                        <div class="help-block has-error" *ngIf="exampleForm.get( 'desc').hasError(validation.type) && (exampleForm.get( 'desc').dirty || exampleForm.get( 'desc').touched)">
                            {{validation.message}}</div>
                        <div class="help-block has-error"  *ngIf="exampleForm.get( 'desc').hasError( 'minlength') && ( exampleForm.get( 'desc').touched)">
                            Minimun 5 characters required in description</div>

                    </ng-container>
                </div>

                <div class="form-group">
                    <label for="sel1">Category list:</label>
                    <select class="form-control" formControlName="category" #t (change)="onChange(t.value)">
                        <option *ngFor="let value of values">{{value}} </option>
                    </select>

                    <ng-container *ngFor="let validation of validation_messages.category">
                        <div class="help-block has-error" *ngIf="exampleForm.get( 'category').hasError(validation.type) && (exampleForm.get( 'category').dirty || exampleForm.get( 'category').touched)" >
                            {{validation.message}}</div>
                    </ng-container>


                </div>
                <div class="form-group">
                    <div class="input-style" *ngIf="selected=='Other'">
                        <input placeholder="Other category" class="form-control" formControlName="subcategory">
                    </div>
                </div>


                <div class="form-group">
                    <label for="comment">Your Name:</label>
                    <div class="input-style">
                        <input placeholder="Name" class="form-control" formControlName="name">
                    </div>
                    <ng-container *ngFor="let validation of validation_messages.name">
                        <div class="help-block has-error" *ngIf="exampleForm.get( 'name').hasError(validation.type) && (exampleForm.get( 'name').dirty || exampleForm.get( 'name').touched)">
                            {{validation.message}}</div>
                    </ng-container>
                </div>
                <div class="row submit-button-container">
                    <div class="col-md-12">
                        <button class="btn btn-primary submit-button" color="primary" type="submit" [disabled]="!exampleForm.valid">Create</button>
                        <button class="btn btn-primary " routerLink="/myposts" style="float: right;margin-bottom: 20px;">View allPosts</button>

                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
<div class="footer">
    <app-footer></app-footer>
</div>
</div>