/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

@import 'https://use.fontawesome.com/releases/v5.5.0/css/all.css';

@import '~swiper/swiper-bundle';

body,
html {
  padding: 0;
  margin: 0;
  position: relative;
  height: 80%;
}

.swiper-container {
  width: 100%;
  height: 200px;
  margin: 50px auto;
}

.swiper-slide {
  background: #f1f1f1;
  color: #000;
  text-align: center;
  line-height: 50px;
  width: 100%;
  transform: scale(1);
  transition: transform .5s;
  position: relative;

}

.swiper-slide:hover{
  transition: ease-in;
  transition-duration: 0.5s;
  transform: scale(1.1);
  border-radius: 15%;
  

}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* * Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 48px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}



.nav-link {
  padding: 1.5rem 1rem;
  border-bottom: 1px solid #dde0e2;
  cursor: pointer;
}

.sidebar .nav-link.active,
.sidebar a:hover,
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: orange;
  background: #efefef;
}


i {
  width: 22px;
  text-align: center;
  margin-right: 5px;
}



.sidebar-sticky {
  padding-top: 1.2rem !important;
}


.user-image {
  width: 42px;
  height: 42px;
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 7px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}


.userImage {
  max-width: 125px;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1)
}


.fa-sign-out-alt {
  position: relative;
  top: 1px;
}


/* Responsive */
@media(max-width:767px) {
  .sidebar {
    position: static;
    padding: 40px 0 10px;
    height: auto;
  }

  [role="main"] {
    padding-top: 0;
  }

  .inner-adjust {
    padding: 0;
  }

  ul.nav.flex-column {
    flex-direction: inherit !important;
  }


  .sidebar-sticky {
    padding-top: 1.9rem !important;
    height: auto;
  }

  .sidebar-sticky .nav li {
    width: 50%;
    text-align: center;
    border-right: 1px solid #c7ceff;
  }

  .sidebar-sticky .nav li:last-child {
    border: none;
  }

  .sidebar {
    padding: 40px 0 0;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
