#first{

border:1px solid #222;
padding:30px;
background-color: #222;
border-start-end-radius: 30px;
}

#second{

padding:30px;
background-color:#589b37;
border-top-left-radius: 20px;
}

.navbar-brand{

	color: #222;
	cursor: pointer;
	font-size: 40px;
	font-weight: 100px;	
	margin-bottom: 20px;
	margin-left: 35px;
}

.nav-link{
	color: #222;
	cursor: pointer;
	font-size: s;
	font-weight: 100px;
}

.btn1{
background-color:#222;
color: white;
}
.navbar{
	
   padding: 10px;
	background-color: white;
}
.navbar-nav {
	margin-left: 20px;

}

.nav-link:hover {
	color: #000;
}

.navbar-collapse {
	justify-content: flex-end;
}

.x{
	overflow-x: hidden;
  }

  .centre{
	margin-top: 20px; 
	background-color: #589b37;
	text-align: center;
	font-size: large;
	padding: 20px;
  }

  .centre,h2{

color: white;
  }
  .centre,p{

	color:white;

  }

  .sub-centre{
	margin-top: 20px; 
  }


  .container{
display:flex;
flex-wrap:nowrap;
width: 200px;
height: 50px;

  }
.holder{
margin-right: 5px;
width:30px;
height: 30px;
border-radius: 100%;

}

.h1{
	background-color: #222;
}
.h2{
	background-color: #589b37;
}
.h3{
	background-color: #000;
}
.h4{
	background-color: red;
}

.feature-title{
text-align: center;
}

.flip-card {
	background-color: transparent;
	width: 300px;
	height: 200px;
	border: 1px solid #f1f1f1;
	perspective: 1000px; 
	margin-left: 50px;
  }
  
  .flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.9s;
	transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; 
	backface-visibility: hidden;
  }
  
  .flip-card-front {
	background-color: #bbb;
	color: black;
  }
  
  .flip-card-back {
	background-color:white;
	color: black;
	transform: rotateY(180deg);
  }




.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}

.sub-feature{
margin: 4em auto;
position: relative;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: auto;
	text-align: center;
	font-family: arial;
	border-radius: 20px;
  }
  
  .card button {
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-color: #589b37;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
  }
  
  .card button:hover {
	opacity: 0.7;
  }

  #picture{
margin-top: 80px;

  }

  #notes{
	margin-top: 80px;  
  }
.slide-show{
background-position: center;
background-repeat: no-repeat;
	text-align: center;
	background-color:#589b37;
	padding: 20px;
	border-bottom-right-radius: 200px;
}

.navbar-toggler{
    background-color: black;
    padding: 1px;
}


.slider {
	width: 500px;
	height: 300px;
	background-color: yellow;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	text-align: center;
	overflow: hidden;
  }
  .image-container {
	width: 1500px;
	background-color:white;
	height: 300px;
	clear: both;
	position: relative;
	-webkit-transition: left 2s;
	-moz-transition: left 2s;
	-o-transition: left 2s;
	transition: left 2s;
  }
  .slide {
	float: left;
	margin: 0px;
	padding: 0px;
	position: relative;
  }
  #slide-1:target ~ .image-container {
	left: 0px;
  }
  #slide-2:target ~ .image-container {
	left: -500px;
  }
  #slide-3:target ~ .image-container {
	left: -1000px;
  }
  .buttons {
	position: relative;
	top: -20px;
	margin-left: 200px;
  }
  .buttons a {
	display: inline-block;
	height: 15px;
	width: 15px;
	border-radius: 50px;
	background-color: red

  }