

.navbar-brand{

	color: #f1f1f1;
	cursor: pointer;
	font-size: 40px;
	font-weight: 100px;	
	margin-bottom: 20px;
	margin-left: 35px;

		
	
}

.nav-link{
	color:#222;
	cursor: pointer;
	font-size: s;
	font-weight: 100px;
}

.btn1{
background-color:#222;
color: #f1f1f1;
}
.navbar{
	
   padding: 2px;
   background-color:#f1f1f1;
	position: fixed;
		z-index: 1000;
		width: 100%;
	
}
.navbar-nav {
	margin-left: 20px;

}

.nav-link:hover {
	color: orange;

}

.navbar-collapse {
	justify-content: flex-end;
}

.x{
	overflow-x: hidden;
	scroll-behavior: smooth !important;
  }

  html{
	  scroll-behavior: smooth !important;
  }

  .centre{
	margin-top: 20px; 
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: center;
	font-size: large;
	padding: 20px;
	
	

	
  }

  .slides .image{
border-radius: 10%;

  }
 

.sub-centre{
	background-color: #f1f1f1;
	
}

  label{
	  margin-left: 120px;
  }


  .container{
display:flex;
flex-wrap:nowrap;
width: 200px;
background-color:#f1f1f1;


  }


.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: auto;
	text-align: center;
  }
  
  .card button {
	border: none;
	outline: 0;
	padding: 12px;
	color: #f1f1f1;
	background-color: #f1f1f1;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
  }
  
  .card button:hover {
	opacity: 0.7;
  }

  #picture{
margin-top: 50px;

  }

  #notes{
	margin-top: 30px;  
  }

.navbar-toggler{
	background-color:#f1f1f1;
	text-decoration: underline;
	padding: 1.5rem 1rem;
	border-bottom: 1px solid #dde0e2;
}


  .image-container {
	width: 1500px;
	background-color:#f1f1f1;
	clear: both;
	position: relative;
	-webkit-transition: left 2s;
	-moz-transition: left 2s;
	-o-transition: left 2s;
	transition: left 2s;
  }
  .slide {
	float: left;
	margin: 0px;
	padding: 0px;
	position: relative;
	background-color:#f1f1f1;

  }

.float{
	position:fixed;
	z-index: 999;
	width:50px;
	height:60px;
	bottom:10px;
	right:20px;
	background-color:#f1f1f1;
	color:black;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}


.slide-show {
	text-align: center;
	padding: 20px;
	margin-top: 6%;
	border-bottom-right-radius: 150px;
	animation: myanimation 10s infinite;
  }
  
  @keyframes myanimation {
	0% {background-color:#222;}
	25%{background-color:lightblue;}
	50%{background-color:green;}
	75%{background-color:brown;}
	100% {background-color:orange;}
  }


  #about{
display: block;
width: 100%;

  }